extends layout
block content
  .container-fluid
    .div.row
      .btn-group(role='group')
        input.btn.btn-group.btn-warning(type='button' id='btn_home_page' value='Go Home' onclick="location.href='/'")
        input.btn.btn-group.btn-primary(type='button' id='btn_room_booking' value='Room Booking' onclick="location.href='/RoomBooking'")
        input.btn.btn-group.btn-primary(type='button' id='btn_desk_booking' value='Desk Booking' onclick="location.href='/DeskBooking'")
    hr
    if errorString
      h3
        span.label.label-danger Error: 
          =errorString
    if(bearer || SessionGUID)
    .search.col-xs-12.row
      //- Search Column
      .col-xs-3.side-lined
        form(action='/api/roombooking/search' method='post')
          .col-xs-12
            h3 Search
            label(for='txt_start_date') Start Date:
            input.flatpickr.flatpickr-input.active.form-control(type='text', placeholder='Select Date..', readonly='readonly',name='txt_start_date')
            label(for='txt_end_date') End Date:
            input.flatpickr.flatpickr-input.active.form-control(type='text', placeholder='Select Date..', readonly='readonly',name='txt_end_date')
            label(for='txt_location_id') Location Id:
            select.form-control(name='txt_location_id')
              each location, i in global.UserProfile.Locations
                option(value=location.Id) #{location.Name}
            label(for='txt_number_attending') Attendees:
            input.form-control(type='text' name='txt_number_attending' value='1')
            br
            input.form-control.btn.btn-group.btn-primary(type='submit' id='btn_search' value='Search')
            
      //- Add Booking
      .col-xs-3.side-lined
        form(action='/api/roombooking/add' method='post')
          .col-xs-12
            h3 Add
            label(for='txt_start_date') Start Date (epoch):
            input.flatpickr.flatpickr-input.active.form-control(type='text', placeholder='Select Date..', readonly='readonly',name='txt_start_date')
            label(for='txt_end_date') End Date (epoch):
            input.flatpickr.flatpickr-input.active.form-control(type='text', placeholder='Select Date..', readonly='readonly',name='txt_end_date')
            label(for='txt_location_id') Location Id:
            select.form-control(name='txt_location_id')
              each location, i in global.UserProfile.Locations
                option(value=location.Id) #{location.Name}
            label(for='txt_number_attending') Attendees:
            input.form-control(type='text' name='txt_number_attending' value='1')

      
      //- Update Booking
      .col-xs-3.side-lined
        form(action='/api/roombooking/update' method='put')
          .col-xs-12
            h3 Update
            label(for='txt_start_date') Start Date (epoch):
            input.flatpickr.flatpickr-input.active.form-control(type='text', placeholder='Select Date..', readonly='readonly',name='txt_start_date')
            label(for='txt_end_date') End Date (epoch):
            input.flatpickr.flatpickr-input.active.form-control(type='text', placeholder='Select Date..', readonly='readonly',name='txt_end_date')
            label(for='txt_location_id') Location Id:
            select.form-control(name='txt_location_id')
              each location, i in global.UserProfile.Locations
                option(value=location.Id) #{location.Name}
            label(for='txt_number_attending') Attendees:
            input.form-control(type='text' name='txt_number_attending' value='1')

      
      //- Delete Booking
      .col-xs-3.side-lined
        form(action='/api/roombooking' method='delete')
          .col-xs-12
            h3 Delete
            label(for='txt_start_date') Start Date (epoch):
            input.flatpickr.flatpickr-input.active.form-control(type='text', placeholder='Select Date..', readonly='readonly',name='txt_start_date')
            label(for='txt_end_date') End Date (epoch):
            input.flatpickr.flatpickr-input.active.form-control(type='text', placeholder='Select Date..', readonly='readonly',name='txt_end_date')
            label(for='txt_location_id') Location Id:
            select.form-control(name='txt_location_id')
              each location, i in global.UserProfile.Locations
                option(value=location.Id) #{location.Name}
            label(for='txt_number_attending') Attendees:
            input.form-control(type='text' name='txt_number_attending' value='1')

    .apiresponse.col-xs-12
      if success
        .col-xs-12
          hr
          span.label.label-success Last API Call Response: 
          textarea.form-control(rows='10' id='txt_api_response' style="border:2px green solid")  
            =lastResponse
          br
          br
          hr
  script.
    flatpickr(document.querySelectorAll('.flatpickr'), {enableTime: true,dateFormat: "m/d/Y H:i"});
